body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.3em;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000;
}

.logo-footer {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.72px;
  margin: 40px;
}
@media screen and (min-width: 768px) {
  .logo-footer {
    font-size: 24px;
    margin: 40px;
  }
}
@media screen and (min-width: 1600px) {
  .logo-footer {
    margin: 0;
  }
}

.logo-studio-footer {
  color: #fff;
}

.backdrop {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1600px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button-close-modal {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: inherit;
  border: none;
  fill: rgba(0, 0, 0, 0.1019607843);
}

.modal-icon-close {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close:hover {
  fill: #2196f3;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
}

.modal-icon-input {
  position: absolute;
  top: 11px;
  left: 12px;
}

.form-h3 {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin: 2px 0 12px;
}

.modal-form-fill input:hover,
.modal-form-fill textarea:hover {
  border-color: #2196f3;
}

.modal-form-fill textarea:hover::-moz-placeholder {
  color: #2196f3;
}

.modal-form-fill textarea:hover::placeholder {
  color: #2196f3;
}

.modal-form-fill textarea:focus::-moz-placeholder {
  color: #757575;
}

.modal-form-fill textarea:focus::placeholder {
  color: #757575;
}

.modal-form-fill input {
  width: 370px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}
@media screen and (min-width: 1600px) {
  .modal-form-fill input {
    width: 448px;
  }
}

.modal-link {
  color: #2196f3;
  text-decoration-line: underline;
}

.modal-text {
  color: #757575;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.36px;
  cursor: auto;
}

.modal-form-fill label {
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.12px;
  display: block;
  margin-bottom: 4px;
  cursor: pointer;
}

.comment-area {
  padding: 12px 16px;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}
@media screen and (min-width: 1600px) {
  .comment-area {
    width: 448px;
  }
}

.form-field-check {
  margin: 20px 0 30px;
}

.form-field-check input {
  cursor: pointer;
  width: 16px;
  height: 15px;
}

.btn-form {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  cursor: pointer;
}

.modal-form-fill + .modal-form-fill {
  margin-top: 10px;
}

.header {
  max-width: 480px;
  margin: 0 auto;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    padding: 25px 0;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    max-width: 1600px;
    padding: 25px 185px;
  }
}

.header-position {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.list {
  display: none;
}
@media screen and (min-width: 768px) {
  .list {
    display: flex;
    margin-left: 88px;
    row-gap: 10px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .list {
    margin-left: 93px;
  }
}

.list-link {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link:hover,
.list-link:focus {
  color: #2196f3;
}

.list-item + .list-item {
  padding-left: 50px;
}

.list-item {
  position: relative;
}

.list-item::after {
  position: absolute;
  display: block;
  content: " ";
  top: 44px;
  height: 4px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover::after {
  background-color: #2196f3;
}

.list-item-studio::after {
  width: 48px;
}

.list-item-portfolio::after {
  width: 72px;
}

.list-item-contacts::after {
  width: 64px;
}

.list-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .list-contacts {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1600px) {
  .list-contacts {
    flex-direction: row;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

.header-contact {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: #757575;
  fill: #757575;
  font-weight: 500;
  letter-spacing: 0.24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover {
  color: #2196f3;
  fill: #2196f3;
}

.menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.hero {
  max-width: 100%;
  margin: 0 auto;
  padding: 118px 0;
  background-image: url(../images/hero-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-mobile@2x.png), url(../images/hero-blur.png);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/images/hero-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/hero-tablet@2x.jpg), url(../images/hero-blur.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(/images/hero-desktop.jpg);
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/hero-desktop@2x.png), url(../images/hero-blur.png);
  }
}

.hero-title {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
}
@media screen and (min-width: 1600px) {
  .hero-title {
    font-size: 44px;
    letter-spacing: 2.64px;
    line-height: 1.36;
  }
}

.hero-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 35px auto 0;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.97px;
  line-height: 1.87;
}
@media screen and (min-width: 1600px) {
  .hero-btn {
    width: 216px;
  }
}

.advantages {
  display: none;
}

.advantages-list {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}

.advantages-title {
  color: #212121;
  font-weight: 700;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantages-title {
    letter-spacing: 0.42px;
    line-height: 1.14;
    text-align: start;
  }
}

.advantages-item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages-item {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .advantages-item {
    width: 270px;
  }
}

.background-icon {
  width: 450px;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  padding: 25px 205px;
}
@media screen and (min-width: 768px) {
  .background-icon {
    width: 354px;
    padding: 25px 142px;
  }
}
@media screen and (min-width: 1600px) {
  .background-icon {
    width: 270px;
    padding: 20px 100px;
  }
}

.advantages-desc {
  margin-top: 10px;
  color: #757575;
  line-height: 2;
  letter-spacing: 0.42px;
}

.we-do {
  display: none;
  height: 480px;
}
@media screen and (min-width: 1600px) {
  .we-do {
    display: block;
  }
}

.we-do-list {
  display: flex;
  width: 1170px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 50px auto 0;
}

.we-do-img {
  position: absolute;
}

.we-do-blur {
  position: relative;
  top: 224px;
}

.we-do-text {
  position: relative;
  top: 181px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
  letter-spacing: 0.84px;
}

.section-team {
  background-color: #f5f4fa;
  margin-bottom: 60px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.team-item {
  width: 450px;
  height: 622px;
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
    height: 536px;
  }
}
@media screen and (min-width: 1600px) {
  .team-item {
    width: 270px;
    height: 458px;
  }
}

.team-img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .team-img {
    width: 354px;
  }
}
@media screen and (min-width: 1600px) {
  .team-img {
    width: 270px;
  }
}

.card-box {
  padding: 30px 50px 16px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.team-position {
  color: #757575;
  margin-top: 10px;
  font-weight: 400;
}

.contact-team-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-instagram-sprite,
.icon-twitter-sprite,
.icon-facebook-sprite,
.icon-linkedin-sprite {
  fill: #afb1b8;
}

.contact-team-item:hover {
  background-color: #2196f3;
}

.contact-team-item:hover .icon-instagram-sprite,
.contact-team-item:hover .icon-twitter-sprite,
.contact-team-item:hover .icon-facebook-sprite,
.contact-team-item:hover .icon-linkedin-sprite {
  fill: #fff;
}

.contact-team-list {
  width: 206px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.list-customers {
  display: flex;
  margin: 0 auto;
  padding-bottom: 60px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
@media screen and (min-width: 1600px) {
  .list-customers {
    padding-bottom: 94px;
    padding-top: 20px;
  }
}

.item-customers {
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 52px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .item-customers {
    padding: 16px 60px;
    width: 225px;
  }
}
@media screen and (min-width: 1600px) {
  .item-customers {
    width: 170px;
    padding: 16px 32px;
    width: 170px;
  }
}

.item-customers:hover {
  border: 1px solid #2196f3;
}

.icon-ya-co-sprite,
.icon-company-tagline-sprite,
.icon-company-sprite,
.icon-foster-peters-sprite,
.icon-brand-sprite,
.icon-tag-line-sprite {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-customers:hover .icon-ya-co-sprite,
.item-customers:hover .icon-company-tagline-sprite,
.item-customers:hover .icon-company-sprite,
.item-customers:hover .icon-foster-peters-sprite,
.item-customers:hover .icon-brand-sprite,
.item-customers:hover .icon-tag-line-sprite {
  fill: #2196f3;
}

footer {
  max-width: 100%;
  height: 603px;
  margin: 0 auto;
  background: #2f303a;
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 60px 74px 0 61px;
    height: 463px;
  }
}
@media screen and (min-width: 1600px) {
  footer {
    height: 252px;
  }
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 165px;
       column-gap: 165px;
  row-gap: 60px;
}
@media screen and (min-width: 1600px) {
  .container-footer {
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 0;
    justify-content: space-between;
  }
}

.footer-address {
  color: #FFF;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 1600px) {
  .footer-address {
    text-align: start;
  }
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 0.2;
}

.footer-contact-item {
  text-align: center;
  margin-top: 15px;
  letter-spacing: 0.42px;
}
@media screen and (min-width: 1600px) {
  .footer-contact-item {
    text-align: start;
  }
}

.footer-title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 1600px) {
  .footer-title {
    text-align: start;
  }
}

.contact-team-item-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-team-item-footer:hover {
  background-color: #2196f3;
}

.contact-team-list-footer {
  width: 206px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.mailling-box {
  display: flex;
  flex-direction: column;
  height: 120px;
  row-gap: 20px;
}
@media screen and (min-width: 1600px) {
  .mailling-box {
    flex-direction: row;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}

.join-footer {
  display: flex;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: #2196f3;
  padding: 13px 28px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;
}

.input-mailling-list {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
}
@media screen and (min-width: 1600px) {
  .input-mailling-list {
    width: 358px;
  }
}

.footer-container-logo {
  width: 232px;
  margin: 0 auto;
}
@media screen and (min-width: 1600px) {
  .footer-container-logo {
    margin: 0;
  }
}

.footer-container-accession {
  width: 206px;
  margin: 0 auto;
}
@media screen and (min-width: 1600px) {
  .footer-container-accession {
    margin: 0;
  }
}

.footer-container-mailling {
  margin: 0 auto;
}
@media screen and (min-width: 1600px) {
  .footer-container-mailling {
    margin: 0;
  }
}

.mob-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 48px 15px 48px 40px;
}

.mob-menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.mob-menu-item + .mob-menu-item {
  margin-top: 35px;
}

.mob-menu-link {
  color: #212121;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.8px;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
  color: #2196f3;
}

.mob-menu-contacts {
  margin-top: 300px;
}

.mob-menu-contacts-link {
  color: #757575;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.68px;
}

.mob-menu-contacts-link:hover,
.mob-menu-contacts-link:focus {
  color: #2196f3;
}

.mob-menu-number {
  font-size: 34px;
}

.mob-menu-email {
  font-size: 24px;
}

.mob-menu-number + .mob-menu-email {
  margin-top: 32px;
}

.mob-menu-contacts + .mob-socials-list {
  margin-top: 64px;
}

.mob-socials-list {
  display: flex;
}

.mob-socials-item + .mob-socials-item {
  margin-left: 20px;
}

.mob-socials-item-link {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}/*# sourceMappingURL=style.css.map */