.advantages {
    display: none;
  }
  .advantages-list {
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;

    }
  }
  .advantages-title {
    color: #212121;
    font-weight: 700;
    margin-top: 30px;
    font-size: 14px;
    text-align: center;
    @media screen and (min-width:768px) {
      letter-spacing: 0.42px;
      line-height: 1.14;
      text-align: start;
    }
  }
  .advantages-item {
    margin-bottom: 30px;
    @media screen and (min-width:768px) {
        width: 354px;
    }
    @media screen and (min-width:1600px) {
      width: 270px;

  }
  }
  
  .background-icon {
    width: 450px;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    padding: 25px 205px;
    @media screen and (min-width:768px) {
        width: 354px;
        padding: 25px 142px;

    }
    @media screen and (min-width:1600px) {
      width: 270px;
      padding: 20px 100px;
  }
  }
  .advantages-desc {
    margin-top: 10px;
    color: #757575;
    line-height: 2;
    letter-spacing: 0.42px;
  }