.header {
  max-width: 480px;
  margin: 0 auto;
  padding: 10px 0;

  @media screen and (min-width:768px) {
    max-width: 768px;
    padding: 25px 0;
  }
  @media screen and (min-width:1600px) {
    max-width: 1600px;
    padding: 25px 185px;
  }
}
.header-position {

    display: flex;
    align-items: center;
    justify-content: space-between;

    // @media screen and (min-width:768px) {
    //   display: flex;
    //   align-items: center;
    //   justify-content: space-between;
    // }
  }
  .navigation {
    display: flex;
    align-items: center;
    
  }
  .list {
    display: none;
    // width: 280px;
    // justify-content: space-between;
    @media  screen and (min-width:768px) {
      display: flex;
      margin-left: 88px;
      row-gap: 10px;
      justify-content: space-between;
    }
    @media  screen and (min-width:1200px) {
      margin-left: 93px;
    }
  }

  .list-link {
   color: #212121;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-link:hover,
  .list-link:focus {
    color: #2196f3;
  }
 .list-item + .list-item{
padding-left: 50px;
  }
  .list-item {
    position: relative;
  }
  .list-item::after {
    position: absolute;
    display: block;
    content: " ";
    top: 44px;
    height: 4px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-item:hover::after {
    background-color: #2196f3;
  }
  
  .list-item-studio::after {
    width: 48px;
  }
  .list-item-portfolio::after {
    width: 72px;
  }
  .list-item-contacts::after {
    width: 64px;
  }
  .list-contacts {
  display: none;
    @media  screen and (min-width:768px) {
      display: flex;
      flex-direction: column;
      // margin-left: 88px;
    }
    @media  screen and (min-width:1600px) {
      flex-direction: row;
      column-gap: 30px;
      // margin-left: 93px;
    }
  }
  // .menu-contact + .menu-contact {
  //   margin-left: 50px;
  // }
  .header-contact {
    display: flex;
    column-gap: 10px;
    color: #757575;
    fill: #757575;
    font-weight: 500;
    letter-spacing: 0.24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contact:hover {
    color: #2196f3;
    fill: #2196f3;
  }
  .menu-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    
    @media screen and (min-width:768px){
      display: none;
    }
  }
  


  