.hero {
  max-width: 100%;
  margin: 0 auto;
  padding: 118px 0;
  background-image: url(../images/hero-mobile.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/hero-mobile@2x.png),
        url(../images/hero-blur.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(/images/hero-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(/images/hero-tablet@2x.jpg),
        url(../images/hero-blur.png);
  }
  }
  @media screen and (min-width: 1200px) {
    background-image: url(/images/hero-desktop.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(/images/hero-desktop@2x.png),
        url(../images/hero-blur.png);
  }
    // background-size: 1600px;
    padding: 200px 0;
  }
}
.hero-title {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;

  @media screen and (min-width:1600px) {
    font-size: 44px;
    letter-spacing: 2.64px;
    line-height: 1.36;
  }
}
.hero-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 35px auto 0;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.97px;
  line-height: 1.87;
  @media screen and (min-width:1600px){
    width: 216px;
  }
}
