.logo {
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    margin: 0 93px 0 0;
  }
  .logo-web {
    color: #2196f3;
  }
  .logo-studio {
    color: #000;
  }
  .logo-footer{
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    margin: 0px 0 20px 148px;
  }
  .logo-studio-footer {
    color: #fff;
  
  
  }