.backdrop {
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal {
    position: absolute;
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 40px;
   @media screen and (min-width:1600px) {
    width: 528px;
    height: 581px;
   }
  }
  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .button-close-modal {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: inherit;
    border: none;
    fill: #0000001a;
  }
  
  .modal-icon-close {
    fill: black;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-icon-close:hover {
    fill: #2196f3;
    cursor: pointer;
  }
  
  .input-wrapper {
    position: relative;
  }
  
  .modal-icon-input {
    position: absolute;
    top: 11px;
    left: 12px;
  }
  
  .form-h3 {
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.6px;
    margin: 2px 0 12px;
  }
  
  .modal-form-fill input:hover,
  .modal-form-fill textarea:hover {
    border-color: #2196f3;
  }
  
  .modal-form-fill textarea:hover::placeholder {
    color: #2196f3;
  }
  
  .modal-form-fill textarea:focus::placeholder {
    color: #757575;
  }
  
  .modal-form-fill input {
    width: 370px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    padding-left: 42px;
    @media screen and (min-width:1600px) {
     width: 448px;
     }
  }
  
  .modal-link {
    color: #2196f3;
    text-decoration-line: underline;
  }
  
  .modal-text {
    color: #757575;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.36px;
    cursor: auto;
  }
  
  .modal-form-fill label {
    color: #757575;
    font-size: 12px;
    letter-spacing: 0.12px;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
  }
  
  .comment-area {
    padding: 12px 16px;
    width: 370px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    resize: none;
    @media screen and (min-width:1600px) {
      width: 448px;
      }
  }
  
  .form-field-check {
    margin: 20px 0 30px;
  }
  
  .form-field-check input {
    cursor: pointer;
    width: 16px;
    height: 15px;
  }
  
  .btn-form {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    cursor: pointer;
  }
  
  .modal-form-fill + .modal-form-fill {
    margin-top: 10px;
  }
  