.we-do {
  display: none;
    height: 480px;
    @media screen and (min-width:1600px) {
      display: block;
    }
  }
  .we-do-list {
    display: flex;
    width: 1170px;
    column-gap: 30px;
    margin: 50px auto 0;
  }
  .we-do-img {
    position: absolute;
  }
  .we-do-blur {
    position: relative;
    top: 224px;
  }
  .we-do-text {
    position: relative;
    top: 181px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
  }
  .section-title {
    text-align: center;
    color: #212121;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
    letter-spacing: 0.84px;
  }