
.hero-title {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
}
.hero-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 35px auto 0;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.advantages-item {
  margin-bottom: 30px;
}
.advantages-list {
  width: 100%;
  margin: 0 auto;
}
.advantages-title {
  color: #212121;
  font-weight: 700;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}
.background-icon {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  padding: 25px 205px;
}
.advantages-desc {
  margin-top: 10px;
  color: #757575;
  line-height: 2;
}
.we-do-list {
  display: flex;
  width: 1170px;
  column-gap: 30px;
  margin: 50px auto 0;
}
.we-do-img {
  position: absolute;
}
.we-do-blur {
  position: relative;
  top: 224px;

  /* position: relative;
    bottom: 74px; */
}
.we-do-text {
  position: relative;
  top: 181px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.section-title {
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 30px;
}
.team-list {
  width: 1170px;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 94px;
}
.team-item {
  width: 450px;
  height: 622px;
  margin-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.team-img {
  width: 450px;
  height: 460px;
}
.card-box {
  padding: 30px 50px 16px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.team-position {
  color: #757575;
  margin-top: 10px;
  font-weight: 400;
}

.contact-team-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-instagram-sprite,
.icon-twitter-sprite,
.icon-facebook-sprite,
.icon-linkedin-sprite {
  fill: #afb1b8;
}

.contact-team-item:hover {
  background-color: #2196f3;
}
.contact-team-item:hover .icon-instagram-sprite,
.contact-team-item:hover .icon-twitter-sprite,
.contact-team-item:hover .icon-facebook-sprite,
.contact-team-item:hover .icon-linkedin-sprite {
  fill: #fff;
}
.contact-team-list {
  width: 206px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.list-customers {
  display: flex;
  margin: 0 auto;
  padding-bottom: 94px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}
.item-customers {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-customers:hover {
  border: 1px solid #2196f3;
}
.icon-ya-co-sprite,
.icon-company-tagline-sprite,
.icon-company-sprite,
.icon-foster-peters-sprite,
.icon-brand-sprite,
.icon-tag-line-sprite {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-customers:hover .icon-ya-co-sprite,
.item-customers:hover .icon-company-tagline-sprite,
.item-customers:hover .icon-company-sprite,
.item-customers:hover .icon-foster-peters-sprite,
.item-customers:hover .icon-brand-sprite,
.item-customers:hover .icon-tag-line-sprite {
  fill: #2196f3;
}

.footer-address {
  color: #FFF;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-contact {
  text-align: center;
  color: #ffffff99;
  font-style: normal;
  line-height: 0.2;
}
.footer-contact-item {
 text-align: center;
  margin-top: 15px;
letter-spacing: 0.42px;
}
.footer-title {
  text-align: center;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 20px;
}
.contact-team-item-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  background-color: #ffffff1a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-team-item-footer:hover {
  background-color: #2196f3;
}
.contact-team-list-footer {
  width: 206px;
  display: flex;
  justify-content: space-between;
  margin: auto;

}
.mailling-box{
height: 120px;
}
.join-footer {
  display: flex;
  width: 200px;
  height: 50px;
margin: 20px auto;
  border-radius: 4px;
  background-color: #2196f3;
  padding: 13px 28px;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.96px;

}
.input-mailling-list {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  border-radius: 4px;
  border: none;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 150, 243, 0);
}
