
body {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.3em;
    background-color: #fff;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .section {
    padding-top: 60px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }