
  $title-color: #212121;
  $text-color: #757575;
  $text-color-white: #ffffff;
  $text-BG-color: #2196f3;
  $WEB-BG-color: #2196f3;
  $Prime-font: 'Roboto', sans-serif;
  $Second-font: 'Raleway', sans-serif;
  